aside#toc
{
    float: right;
    padding-left: 25px;
    padding-right: 25px;
    width: 220px;
    height: auto;
    background-color: White;
    font-size: 0.7em;
    border: black solid 1px;
}

aside#toc a, aside#toc a:visited { text-decoration: none;color: #262626;}
aside#toc a:hover { text-decoration: none;color: #096AC9;}