.title { text-align: center; }
.content {line-height: 1.6em;}
ul.toc { 
	float:right; 
	background-color:#FFFFEF; 
	font-size:13px; 
	line-height: 2em;
	margin: 0px 0px 1em 1.5em; 
	list-style-type:none ;
	border: 1px solid #2B2B2B;
	padding: 5px;}
ul.toc .title { font-size: 16px;}
ul.toc a { color: #000; text-decoration: none; }
ul.toc a:hover { color: #000; text-decoration: underline; }
ul.toc a:visited { color: #000; }