<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SandboxCodeOnly" connectionString="Data Source=(local);Initial Catalog=Sandbox;Integrated Security=true" providerName="System.Data.SqlClient"/>
    <add name="Sandbox" connectionString="metadata=res://*/POCO.PocoModel.csdl|res://*/POCO.PocoModel.ssdl|res://*/POCO.PocoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Sandbox;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>