* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    padding: 2% ;
}

#container {
    float: left;
    font-size: 1.2em;
    margin-left: 20px;
}

#header {
    border-bottom: 1px dotted #5D5A53;
    float: left;
    width: 100%;
}

ul#navigation {
    float:right;
    margin:0px;
    padding:0px;
}

ul#navigation li {
    display:inline;
    padding-right:8px;
    border-right:1px solid #5D5A53
}

ul#navigation li a:link {
    color: #F6855E;
    font-weight: bold;
    text-decoration: none;
}

ul#navigation li a:visited {
    color: #F6855E;
    font-weight: bold; 
    text-decoration: none;
}

#content {
    float:left;
    min-width:805px;
    padding-top:20px;
    width:100%;
}

div#categories {
    float:left;
    width:200px;
}

div#categories ul {
    list-style-type:none;
    font-size:1.5em;
}

div#categories li {
    padding:0 0 6px 0
}

div#categories a:link, a:visited {
    color: #9B9993;
    text-decoration: none;
}

div#categories a:hover {
    color: #F6855E;
    text-decoration: none;
}

div#products {
    float: left;
    min-height: 400px;
    padding: 0px 0px 15px 15px;
    width: 670px;
}

div#products ul {
    font-size: 1.2em;
    list-style-type: ;
    margin-left: 0px;
}

div#products ul li {
    float:left;
    display:inline;
}

div.product {
    font-size:.9em;
    margin:15px;
    color:Gray;
    border:2px Solid Black;
    padding:10px;
    width:150px;
    height:220px;
    text-align:center;
}

div.product img.thumbnail {
    width:120px;
    height:120px;
}

div.product .name {
    font-size:18px;
    height:50px;
}

div.product .price {
    font-weight:bold;
    font-size:1.2em;
}

table.cart th {
    font-size:1.2em;
    color:Gray;
    border-bottom:1px solid #5D5A53;
}

table.cart td {
    border-bottom:1px dotted #5D5A53;
    padding:20px;
}

table.cart td.qty input {
    border:1px solid gray;
    width:30px;
}

table.cart td.product {
    vertical-align:middle;
}

table.cart td.product img {
    width:65px;
    height:65px;
    float:left;
}