<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="testdb" connectionString="Data Source=.\SQLExpress;Initial Catalog=DevelopmentDB;Trusted_Connection=true"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
