<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="schemaExportMode" value="Create"/>
	</appSettings>
	<connectionStrings>
		<add name="testdb" connectionString="Data Source=(local);Initial Catalog=DevelopmentDB;Trusted_Connection=true"/>
	</connectionStrings>
</configuration>