<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestModel" connectionString="metadata=res://*/Domain.TestModel.csdl|res://*/Domain.TestModel.ssdl|res://*/Domain.TestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SQLExpress;Initial Catalog=DevelopmentDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>